@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Modak&family=Sahitya&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
  background-color: #e7e9eb;
  padding-top: 20px;
}

.main-title {
  color: #007bff;
  font-family: "Modak", cursive;
  font-size: 3.5rem;
}

.page {
  font-size: 26px;
}

.movie {
  max-height: 460px;
}

.movie-title {
  font-family: "Sahitya", serif;
  font-weight: 800;
  min-height: 90px;
}

.movie:hover {
  box-shadow: 2px 2px 4px 4px #b1b1b1;
}

.movie-img-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.movie-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-link {
  cursor: pointer;
}

.movie-link:hover {
  color: #007bff;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.btn-font {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
  .movie {
    max-height: 386px;
  }
}

@media (min-width: 495px) {
  .tabs {
    flex-direction: row;
  }
}
