ul {
  list-style-type: none;
}

.App {
  text-align: center;
  background-color: #e7e9eb;
  padding-top: 20px;
}

.page {
  font-size: 26px;
}

.movie {
  height: 480px;
}

.movie-title {
  min-height: 60px;
}

.movie:hover {
  box-shadow: 2px 2px 4px 4px  #b1b1b1;
}

.movie-img {
  height: 260px;
}

.movie-link {
  cursor: pointer;
}

.movie-link:hover {
  color: #3879b9;
}
